filelists/CUB/CUB_200_2011
filelists/CUB/*.json 
filelists/CUB/*.txt 

filelists/Fashion/img
filelists/Fashion/*.json 

filelists/miniImagenet/miniimagenet
filelists/miniImagenet/*.json 

save/CUB
save/miniImagenet
save/Fashion 
save/cross

__pycache__
*/__pycache__ 
filelists/*/.ipynb_checkpoints
methods/.ipynb_checkpoints
data/.ipynb_checkpoints 
.ipynb_checkpoints/
